

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  
  background-color: rgb(212, 212, 212);
}

ul {
  list-style-type: none;
}

.opModalTeam {
  cursor: pointer;
}

.film-card__modalTeam {
  z-index: 9999;
  display: flex;
  flex-direction:row;
  align-items: center;
  
  position: absolute;
  left: 50%;
  top: -450px;
  transform: translate(-50%, -50%);
  width: 805px;
  padding: 1rem;
  background-color: rgb(255, 255, 255);
 
  border-radius: 6px;
  transition: all 1.2s;
  filter: blur(2px);
  
}
 
h3 {
  color: #000000;
  font-size: 22px;
  margin-bottom: 20px;
}

button {
  height: 42px;
  border: 1px solid black;
  background: none;
  font-size: 12px;
  text-transform: uppercase;
  padding: 4px 10px;
  border-radius: 5px;
  outline: none;

  transition: all 0.3s;

  cursor: pointer;
  
}

button:hover {
  border: none;
  background-color:  #FF6B01;
  color: #fff;
  padding: 0 20px;
}

.active {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  filter: blur(0);
}

.film-info {
  margin-right: 20px;
}

.film-card__closeTeam {
  font-size: 20px;
  border: none;
  position: absolute;
  right: 5px;
  top: 5px;
}

.dev-team__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.team-list__img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin: 10px;

}

.team-list__img:hover {
  cursor: pointer;
  transform: scale(2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}