

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  
  background-color: rgb(212, 212, 212);
}

ul {
  list-style-type: none;
}

.opModal {
  font-size: 16px;
  cursor: pointer;
}

.film-card__modal {
  z-index: 9999;
  
  flex-direction:row;
  justify-content: center;

  position: absolute;
  left: 50%;
  top: -450px;
  transform: translate(-50%, -50%);
  width: 280px;
  padding: 1rem;
  background-color: rgb(255, 255, 255);
 
  border-radius: 6px;
  transition: all 1.2s;
  filter: blur(2px);
  
  @media screen and (min-width: 480px) {
    width: 400px;
   
  }
  
  @media screen and (min-width: 768px) {
    display: flex;
    width: 705px;
  }
  
  @media screen and (min-width: 1024px) {
    width: 800px;
  }
}




button {
  height: 42px;
  border: 1px solid black;
  background: none;
  font-size: 12px;
  padding: 4px 10px;
  border-radius: 5px;
  outline: none;
  
  transition: all 0.3s;

  cursor: pointer;

  text-transform: uppercase;
}

button:hover {
  border: none;
  background-color:  #FF6B01;
  color: #fff;
  padding: 0 20px;
}

.active {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  filter: blur(0);

  @media screen and (max-width: 340px) {
    top: 73%;
  }
}

.film-info {
  margin-right: 20px;
}

.film-card__close {
  font-size: 20px;
  border: none;
  position: absolute;
  right: 5px;
  top: 5px;

  @media screen and (max-width: 767px) {
    background-color: #fff;
    border-radius: 50%;
    color: #FF6B01;
  }
}

.film-card__desc {
  font-size: 12px;
  margin-bottom: 20px;
}

.film-add__btn {
  display: flex;
  justify-content: center;
  
}

.film-add__watched {
margin-right: 15px;
}

.film-card__about {
  @media screen and (min-width: 767px) {
    margin-left: 15px;
  }
  @media screen and (max-width: 1024px) {
    padding: 0 15px;
  }
  
 
}

.about-film{
  margin-bottom: 20px;
}

.about-film__description {
  width: 90px;
  color: gray;

  @media screen and (min-width: 767px) {
    width: 100px;
  }
  @media screen and (min-width: 1024px) {
    width: 120px;
  }
}

.vote-average {
  background-color: #FF6B01;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}

.votes-count {
  background-color: #F7F7F7;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}

.separator {
  padding: 0px 10px;
}

.film-card__img {
  width: 375px;
  height: 468px;
  @media screen and (max-width: 480px) {
    width: 240px;
    height: 357px;
  }
  
  @media screen and (mix-width: 480px) {
    width: 300px;
    height: 357px;
  }
}

.film-card__description {
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.about-film__title {
  text-transform: uppercase;
  
}
.film-card__title {
  margin-top: 5px;
  text-transform: uppercase;
  font-size: 30px;
  @media screen and (max-width: 1024px) {
    font-size: 20px;
  }
}

.about-film__info {
  display: flex;
  font-size: 12px;
}

.about-film__info:not(:last-child) {
  margin-bottom: 8px;
}